.git/
.gitignore
.venv/
venv/
env/
__pycache__/
*.pyc
node_modules/
.vite/
.env
.env.development
*.sqlite3
*.sqlite3-journal
backup/
docs/
scripts/
.vscode/
.idea/
*.rar
*.txt
!requirements.txt
magna-page/page/
magna-page/store/node_modules/
magna-page/unified/node_modules/
