.venv/
__pycache__/
*.pyc
*.pyo
.git/
.gitignore
.env
*.sqlite3
*.sqlite3.backup
magna-page/page/node_modules/
magna-page/store/node_modules/
# dist se construye en el build o ya existe en staticfiles/
staticfiles/
nginx/ssl/
infrastructure/
magna_web/settings.py
.DS_Store
