
.links{
    font-weight: 300;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    margin: 0px 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.links:hover{
    color: rgb(255, 255, 255);
    scale: 1.3;
    cursor: pointer;
    @media screen and (max-width: 994px) 
    {
        scale: 0.9;
    }
}
.store{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 20px;
    background-color: #021328;
    color: white;
    font-weight: 600;
}