.contact{
    height: fit-content;
    background: linear-gradient(0deg, rgba(2, 19, 40, 0.307) 0%, rgba(2, 19, 40, 0.256) 100%), url(../../assets/img/app/fondotopo.jpg), no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-izq{
    background-color: rgb(2, 19, 40);
}

.contact-izq h3{
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0 40px 0;
}

.contact-izq h5{
    font-size: 1.2rem;
    margin: 10px 0 40px 0;
}

.toggle-icon{
    color: #163E73;
    font: 1em sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease;
    margin-left: 10px;
}