
.container-equip{
    width: fit-content;
}

.card-equip{
    width: auto;
    position :absolute; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    margin: 10px 0 60px 0;
    z-index: 2;
}
.desplegable{
    position:relative;  
    background-color: white;
    top: -20px;
    left: 0px;
    z-index: 1;
    border-radius: 10px;
    height: 400px;

}

.conteiner-desplegable{
    width: 200px;
    height: 100%;
    /* background: rgba(0,0,0,0.5); */
    transition: all 0.5s ease;
    opacity: 1;
    padding: 50px 10px 0 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.122);
    
}

.card-equipHover{
    transform: translateX(85%);
    z-index: 3;
    color: rgb(255, 255, 255);
    
}

.conteiner-desplegable h3{
    color: rgb(35, 44, 102);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.logo{
    position: relative;
    width: 60px;
    top: 83%;
    left: 70%;

}

.workers{
    width: 100%;
    height: 350px;
    background:linear-gradient(to bottom , rgba(2, 19, 40, 0.241) 0%, rgba(2, 19, 40, 0.269) 35%, rgba(2, 19, 40, 0.674) 100%),
     url("../../assets/img/equipos/grupo1.webp");
    background-size: cover;
    background-position: 100% 79%;
    border-radius: 10px;
    padding-top: 180px;
    margin-bottom: 30px;
}

.content-cardequip{
    background-color: rgba(32, 40, 97, 0.5);
    position: relative;
    z-index: 10;
    bottom: 90px;
    color: white;
    padding: .1px 20px;
    border-radius: 5px;
}

.workers-equip{
    width: 270px;
    height: 410px;
    margin-top: 10px;
}

.logo-1{
    position: relative;
    width: 60px;
    bottom: 100%;
    left: 75%;
}

