
.servicios{
    height: fit-content;
    /* fondo animado sobre gris oscuro */
    background: linear-gradient(0deg, rgba(229, 229, 229, 0.8) 0%, rgba(210, 210, 210, 0.9) 100%);
    background-size: cover;
    background-position: center;
   
}

.servicios-container{
    padding: 20px;
    height: 100%;
}

.title-servicios{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    padding-top: 20px;
}

.title-servicios span{
    color: #163E73;

}

.servicios .heading-divider{
    background-color: #000000;
  }

/* fondo animado */

.card{
    
    cursor: pointer;
    transition: all 0.3s ease;
    z-index:2;
    overflow: hidden;
    margin: 5px;
}

.card::before,
.card::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180%;
    height: 180%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.card::after{
    background: #ffffff;
    height: 97%;
    width: 97%;
}

.card:hover::before{
    transform: translate(-50%, -50%) rotate(-100deg);
    transition: 2s;
    background: conic-gradient(#163E73 0deg,#163E73 90deg ,#fff 90deg,#fff 185deg,#163E73 180deg,#163E73 270deg,#fff 270deg);
}