
.projectDetailSlider{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.imagen-proecto{

    height: 50vh;
    object-fit: cover;
}