:root {
  --color-fondo: #163E73;
  --color-texto: #fcfbfb;
  --color-boton: #fff;
  --fuente-principal:  sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  font-family: var(--fuente-principal);
  scroll-behavior: smooth;
}

.splash-screen {
  background-color: var(--color-fondo);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button, .boton-1 {
  cursor: pointer;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  transition: all 0.3s ease;
  border: 2px solid transparent; /* Corregido */
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: var(--color-boton);
}

section {
  padding: 50px 0;
}

.col-card {
  height: 400px;
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spand {
  height: 59px;
}

.description{
  @media (max-width: 768px) {
    text-align: center;
  }
}

.tarjeta{
  height: 21rem;
}

@media (max-width: 994px) {
  .logoMagna {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .logoMagna {
    width: 220px;
  }
}